<%- include('partials/header') %>
    <h1>Bem-vindo ao Sistema Acadêmico</h1>
    <p>Use o menu para navegar entre as seções</p>

    <a href="/alunos">Alunos</a><br/>

<%- include('partials/footer') %>