<%- include('../partials/header') %>

<h1>Excluir Aluno</h1>
<form action="/alunos/delete" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir este aluno?');">
  <div class="mb-3">
    <label>RA:</label>
    <input type="text" name="ra" class="form-control" required/>
  </div>
  <button type="submit" class="btn btn-danger">Excluir</button>
  <a href="/alunos" class="btn btn-secondary">Cancelar</a>
</form>

<%- include('../partials/footer') %>