<%- include('../partials/header') %>
    <h1>Alunos</h1>
    
    <a href="/alunos/cadastrar">Cadastrar</a><br/>
    <a href="/alunos/listar">Listar</a><br/>
    <a href="/alunos/excluir">Excluir</a><br/>
    <a href="/alunos/buscar">Buscar/Atualizar</a><br/>
    <a href="/">início</a>
<%- include('../partials/footer') %>